<ion-header text-center>        
    <img src="assets/img/logo-ancora.png" width="200px"/>
    <h1>Rádio Âncora</h1> 
</ion-header>
<ion-grid text-center>
  <ion-row class="player">
      <ion-col> 
        <audio
              controls
              src="http://us4.internet-radio.com:8266/listen.pls&t=.m3u">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>      
      </ion-col>
  </ion-row>        
    
  
  <ion-row class="footer">      
    <ion-col>
      <a href="https://www.facebook.com/Assembleia-de-Deus-Miss%C3%B5es-Campo-GrandeMS-142706129262360/">
      <img src="assets/img/social-fb.png" />
      </a>
    </ion-col>
    <ion-col>
      <img src="assets/img/social-insta.png" />
    </ion-col>
    <ion-col>
      <img src="assets/img/social-twitter.png"/>
    </ion-col>
    <ion-col>
      <img src="assets/img/social-whatsapp.png"/>
    </ion-col>
  </ion-row>  
</ion-grid>    




